<ul>
	<%advantages = Advantage.all.limit(4)%>
	<%advantages.each do |a|%>
		<li>
		<div class="new_park02_img">
			<%=image_tag a.image_url,width: 205,height: 205%>
		  <a class="hover1s  popup_advance" data-url="/advances/<%=a.id%>">
		</a>
		</div>
		<h3><a class="hover1s  popup_advance" data-url="/advances/<%=a.id%>"><%=a.title%></a></h3>
	<p><%=a.info%></p>
</li>
	<%end%>						
</ul>

