<%=javascript_include_tag "layer/layer.min.js", media: "all", "data-turbolinks-track" => true%>
<div class="wrap">
			<header id="header">
				<div id="logo">
					<a href="#"></a>

				</div>
				<div class="header_right">
					<ul id="nav">
						<li class="current"><i class="icon-home"></i>
						</li>
						<li>服务
						 <span>Services</span>
						</li>
						<li>优势
						<span>Advantage</span>
						</li>
						<li>撰文
						<span>Article</span>
						</li>
						<li>关于我们
						<span>About Us</span>
						</li>
						<li>联系我们
						<span>Contact Us</span>
						</li>

					</ul>

				</div>

			</header>

			<section id="banner" style="background:#003583 url(/images/top_bk.png) center no-repeat;">
				<!--<ul id="bannerul">
					<li>
						<h1>Free Onepage Theme</h1>
						<p class="lead">Xeon is the best free onepage responsive theme available arround the globe
							<br>Download it right now for free</p>
					</li>
					<li>
						<h1>ShapeBootstrap.net</h1>
						<p class="lead">Download free but 100% premium quaility twitter Bootstrap based WordPress and HTML themes
							<br>from shapebootstrap.net</p>
					</li>
				</ul>
				<a href="#" class="banner_left_btn  hover1s">
					< </a>
						<a href="#" class="banner_right_btn hover1s"> > </a>-->

			</section>

			<div class="park_wrap">
				<section class="park01">
					 <%=render "service"%>
				</section>
				<section class="new_park02">
					<header>
						<div>
							<strong>完美的教学服务和管理,切合一流的教学质量</strong>
							<p>培训出进入美国顶尖大学的国际型人才！</p>
						</div>
					</header>
					<div class="new_park02_content">
						<%=render "advantage"%>
						


					</div>



					<div class="blank30"></div>

				</section>
				<div class="park_gg">
					<a href="#park05">
						<img src="/images/peixun_04.jpg" width="1140" height="380" alt="">
					</a>

				</div>


				<section class="park03">
					<header>
						<h1>咨讯中心 / Advisory Center</h1>
					</header>

					<div class="park03_list_box">
						<div class="park03_list_one park03_list_first hover1s">
							<h2><a href="#">热点新闻</a></h2>
							<ul id="hot_news">

								
							</ul>
							<div class="more_list hover1s pagination" id="hot_new1" data-id="hot_news" data-num=6>
								<a href="#" class="icon-fonts">查看<i>更多</i>热点咨讯 </a>
							</div>
						</div>
						<div class="park03_list_one park03_list_second hover1s">
							<h2><a href="#">新闻资讯</a></h2>
							<ul id="news">
								
							</ul>
							<div class="more_list hover1s pagination" id="new1" data-id="news" data-num=8>
								<a href="#" class="icon-fonts">查看<i>更多</i>热点咨讯 </a>
							</div>
						</div>
						<div class="park03_list_one park03_list_third hover1s">
							<h2><a href="#">系统公告</a></h2>
							<ul id="notice">
								
							</ul>
							<div class="more_list hover1s pagination" id="notice1" data-id="notice" data-num=6>
								<a href="#" class="icon-fonts">查看<i>更多</i>热点咨讯 </a>
							</div>
						</div>
					</div>
				</section>
				<section class="new_park04">
					<header>
						<h1>咨讯中心 / Advisory Center</h1>
					</header>
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>See our Pricings</h2>
                    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et <br>malesuada fames ac turpis egestas.</p>
                </div><!--/.center-->   
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Basic</li>
                            <li class="plan-price">$29</li>
                            <li>5GB Storage</li>
                            <li>1GB RAM</li>
                            <li>400GB Bandwidth</li>
                            <li>10 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Standard</li>
                            <li class="plan-price">$49</li>
                            <li>10GB Storage</li>
                            <li>2GB RAM</li>
                            <li>1TB Bandwidth</li>
                            <li>100 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Advanced</li>
                            <li class="plan-price">$199</li>
                            <li>30GB Storage</li>
                            <li>5GB RAM</li>
                            <li>5TB Bandwidth</li>
                            <li>1000 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->

    	<section class="new_add_park04 ">
					<header>
						<h1>校长简介 / Head teacher</h1>
					</header>
					<div class="left_image">
						<img src="/images/xz.jpg" width="270" height="379" class="hover1s" />
						<p> 校长：李哲 Jessica Li</p>
					</div>
					<div class="right_mes">
						  <p>> 现北京杰西卡国际教育校长
							<br>> 前新东方讲师
							<br />> 前樱知叶教育集团英语教学主管
							<br />> 前北京赛达学校教学主管及模考中心主任
							<br />> 前精英计划教学校长
							<br />> 前新东方教师
							<br />> 在澳自高中起留学并工作11年
							<br />> Bachelor of Property Economics - University of Technology, Sydney悉尼科技大学（世界排名78位）房地产经济学士
							<br />> Master of Applied Finance - University of Western Sydney 西悉尼大学金融硕士
							<br />> 亲自面试和培训过各大机构教师
							<br />> 曾培训过数十名托福各单项满分学员
							<br />> 主讲课程：ESL，托福全科，雅思全科，SAT全科，SSAT全科等出国留学培训科目，教学经验8年，曾任SSAT美国官方推广协理，并主持，参加与筹划北京数十所重点学校的公益讲座。
							<br />> 组织外教自创
							< 对接桥梁课程体系> 该体系针对学生对接西方国家高中，大学，研究生的课程有极大的帮助，得到了解西方教育文化及背景的家长和学生的大力支持与信赖，更让很多准留学生受益匪浅。

						</p>
					</div>

				</section>





				<section class="new_park04">
					<header>
						<h1><img src="/images/gsjanje.jpg" alt="公司简介"></h1>
						<div class="blank10"></div>
						<p><%=Home.where("title='关于我们'").first.try(:content)%></p>
					</header>
					<div class="blank20"></div>
					<div class="new_park04_content" id="new_park04_content">
						<ul>
							<%@images.each_with_index do |image,index|%>
							<%if index<3%>
							
							<li class="liwith336">
                                 <%=generate_html_for_image(image,357,214)%>				
							</li>
							<%end%>
							<%if index>2 && index<5%>
							 <li class="liwith204">
								 <%=generate_html_for_image(image,204,214)%>

							</li>
							<%if index==6%>
							<li class="liwith446">
								 <%=generate_html_for_image(image,446,214)%>
							</li>
							<%end%>

							<%end%>
							<%end%>
						
						</ul>


					</div>
					<div class="blank30"></div>
				</section>
				<section class="park05" id="park05">
					<div class="park05_left">
						<h1>联系我们</h1>
						<p>如果您有任何问题,可以直接给我们留言,我们会尽快给您回复.</p>
						<div class="blank10"></div>
						<div class="from_box">
							<form class="suggest">
								<div class="name_email">
									<input type="text" class="inputtext" id="suggest_name" name="name" value="name" onfocus="if(this.value=='name'){this.value='' }" onblur="if(this.value==''){this.value='name'}" style="margin-right:30px; ;" />

									<input type="text" class="inputtext" id="suggest_mobile" name="mobile" value="mobile" onfocus="if(this.value=='mobile'){this.value='' }" onblur="if(this.value==''){this.value='mobile'}" />

								</div>
								<div class="blank20"></div>
								<textarea value="message"  id="suggest_content">
								</textarea>
								<div class="blank20"></div>
								<input type="submit" value="Send Message" class="sub" />
							</form>
						</div>
					</div>
					<div class="park05_right">
						<h1>Our Address</h1>
						<p class="address">
							<strong>杰西卡国际教育咨询有限公司</strong>
							<br /> 北京市朝阳区百子湾路16号
							<br /> 后现代城10号楼3单元1513室
							<br /> 李老师: 18600429984 13699270956
							<br /> P: 010-61994401
						</p>
						<p class="address">
							<strong>JESSICA'S EDUCATION.INC</strong>
							<br /> Room 1513 NO.10, 3 Building,HouXianDaiCheng
							<br /> 16 BaiZiWan Road,ChaoYang District BeiJing City
							<br /> 李老师: 18600429984 13699270956
							<br /> P: 010-61994401

						</p>

						<div class="blank10"> </div>
						<ul class="icon-social">
							 <div style="width:697px;height:200px;border:#ccc solid 1px;" id="dituContent"></div>
						</ul>


					</div>
					<div class="blank10"></div>
				</section>



			</div>


        <script type="text/javascript">

          
            <%hot_news = @hot_news.map{|article|[article.title,article.id]}%>
            <%news = @news.map{|article|[article.title,article.id]}%>
            <%notices = @notices.map{|article|[article.title,article.id]}%>
            var hot_news=<%= hot_news.to_s.html_safe%>
            var news=<%= news.to_s.html_safe%>
            var notices=<%= notices.to_s.html_safe%>

           function pageselectCallback(page_index, jq){
                // Get number of elements per pagionation page from form
                var items_per_page = $(jq).attr("data-num")
                var newcontent = '';
                var data_id = $(jq).attr("data-id")
                if(data_id=="hot_news"){
                	 var max_elem = Math.min((page_index+1) * items_per_page, hot_news.length);
                }
                if(data_id=="news"){
                	var max_elem = Math.min((page_index+1) * items_per_page, news.length);         
                }
                if(data_id=="notice"){
                	var max_elem = Math.min((page_index+1) * items_per_page, notices.length);  
                }          

               
          
                
                // Iterate through a selection of the content and build an HTML string
                for(var i=page_index*items_per_page;i<max_elem;i++)
                {
                	if(data_id=="hot_news"){
                		 newcontent += '<li><a class="artile_show" data-url=/articles/'+hot_news[i][1]+' data-id='+ hot_news[i][1]+'>' + hot_news[i][0].substr(0,20) + '</a></li>';
                	}
                	if(data_id=="news"){
                		 newcontent += '<li><a class="artile_show" data-url=/articles/'+news[i][1]+' data-id='+ news[i][1]+'>' + news[i][0].substr(0,20) + '</a></li>';

                	}
                	if(data_id=="notice"){
                		 newcontent += '<li><a  class="artile_show" data-url=/articles/'+notices[i][1]+' data-id='+ notices[i][1]+'>'+ notices[i][0].substr(0,20) + '</a></li>';

                	}          
                  
                }

                // Replace old content with new content
                $("#"+data_id).html(newcontent);

                // Prevent click eventpropagation
                return false;
            }

             
              $(document).ready(function(){

              	 $("#new_park04_content>ul>li").hover(function(){
              	$(this).find(".li_top_box").stop(true,true)
              	$(this).find(".li_top_box").animate({"top":0},500)
              },function(){
              	$(this).find(".li_top_box").animate({"top":174},500)
              })

              	 

                $("#hot_new1").pagination(hot_news.length,{callback: pageselectCallback,items_per_page: 6,prev_text: "往前看看",next_text: "继续查看"})
                $("#new1").pagination(news.length,{callback: pageselectCallback,items_per_page: 8,prev_text: "往前看看",next_text: "继续查看"})
                $("#notice1").pagination(notices.length,{callback: pageselectCallback,items_per_page: 6,prev_text: "往前看看",next_text: "继续查看"});

                $(".artile_show").click(function(){
              
                var id=$(this).attr("data-id");
              
             	$.layer({
             		 type: 2,
                    shade: [0.8, '#000'],
                 	type: 2,
   				 	border: [0],
  				  	title: false,
				  	shadeClose: true,
    				closeBtn: [0, true],
    				offset: ['20px',''],
                    area: ['600px', ($(window).height() - 50) +'px'],
    				iframe: {src : '/articles/'+id}
    				//area: ['600px', '600px']
				});
             })

               $(".popup_advance").click(function(){
               //	alert(333)
               	 var url=$(this).attr("data-url");
           
             	$.layer({
             		 type: 2,
                    shade: [0.8, '#000'],
                 	type: 2,
   				 	border: [0],
  				  	title: false,
				  	shadeClose: true,
    				closeBtn: [0, true],
    				offset: ['20px',''],
                    area: ['600px', ($(window).height() - 50) +'px'],
    				iframe: {src : url}
    				//area: ['600px', '600px']
				});



               })

              $(".suggest").submit(function(){
                  name=$("#suggest_name").val();
                  mobile=$("#suggest_mobile").val();
                  content=$("#suggest_content").val();
                  if(name=="name" ||  name==""){alert("请填写名字");return false}
                  if(mobile=="mobile" ||  mobile==""){alert("请填写名字");return false}
                  $.post("/suggest",{name: name,mobile: mobile,content: content},function(data){alert("感谢您，我们会尽快与您联系")})
                  return false
 

              })
                

            });




            

        </script>



		</div>


<!--引用百度地图API-->
<style type="text/css">
  
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>


<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(116.496748,39.905316);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"后现代城10号楼3单元",content:"我的备注",point:"116.494889|39.905814",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
</html>



