<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title> 杰西卡国际教育咨询- </title>
    <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "admin" , "data-turbolinks-track" => true%>
   
    <%= csrf_meta_tags %>

	<!--[if IE 6]>
	<link href="css/ie6.css" rel="stylesheet" media="all" />
	
	<script src="js/pngfix.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix('.logo, .other ul#dashboard-buttons li a,#sitename a.logo,#navigation li a,.ui-widget-header .ui-icon');

	</script>
	<![endif]-->
	<!--[if IE 7]>
	<link href="css/ie7.css" rel="stylesheet" media="all" />
	<![endif]-->
</head>
<body>
<div id="header">
		<div id="top-menu">
			<!--<a href="#" title="My account">我的账号</a> |
			<a href="#" title="Settings">设置</a> |
			<a href="#" title="Contact us">联系我们</a>	-->	
			<%if signed_in? %>	
			<span>你好，<a href="#" title="Logged in as admin"><%=current_admin.name%></a></span>
			| <a href="/admin/sign_out" title="Logout">退出</a>
			<%else%>
			<span><a href="/admin/sign_in" title="Logged in as admin">登 陆</a></span>
			|<a href="/admin/sign_up" title="Logged in as admin">注 册</a>
			<%end%>
			<!--| <a href="#" title="Edit profile">编辑资料</a>-->
			
		</div>
		<div id="sitename">
						<div class="logo">
               <a href="/main" class="float-left" title="后台管理系统">
               	杰西卡英语培训后台管理
               </a>
			</div>
		
		
		</div>
		<ul id="navigation" class="sf-navbar">
			<li>
				<a href="/main" class="current">控制台</a>
				
			</li>
			<li>
				<a href="/admin/services">服务管理</a>
				
			</li>
			<li>
				<a href="/admin/articles">文章管理</a>
				
			</li>
			<li>
				<a href="/admin/advantages">优势管理</a>
				
			</li>
			<li>
				<a href="/admin/homes/new?kind=about_us">关于我们</a>		
			</li>
			<li>
				<a href="/admin/suggests">联系我们</a>
				
			</li>
			<%if current_admin && current_admin.is_admin%>
			  <li>
				<a href="/admin/users">用户管理</a>		
			  </li>
			<%end%>
		</ul>
</div>	

	<div id="page-wrapper">
	    <%=render "layouts/admin_left" unless devise_controller?%>
<%= yield %>

	</div>
	<div class="clearfix"></div>
	<div id="footer">
		<div id="menu">
			<a href="/" title="Home">Home</a>
			<a href="/main" title="Administration">Administration</a>
			
		</div>
		Copyright &copy; 2009 - 2019
	</div>
 
</body>
</html>
